/* Add styles for the row container */
.row_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Add styles for the navigation buttons */
.navigation_buttons {
    margin-bottom: 10px;
}

.navigation_buttons button {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    background-color: #f2f2f2;
    border: none;
    border-radius: 5px;
}

/* Add styles for the item container */
.item_container {
    display: flex;
    gap: 15px;
}

/* Add styles for each item */
.item {
    margin-right: 10px;
    text-align: center;
}

/* Responsive styles for images */
.item img {
    width: 200px;
    height: 350px;
    object-fit: cover;
}

